<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Translator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</head>
<body>
    <div class="p-3 m-2">
        <h1>Simple Language Translator</h1>

        <form id="translator-form" class="form" method="post">
            {% csrf_token %}
            <input type="text" class="form-control mb-1" id="word-input" placeholder="Enter word to translate" />
            <select id="language" class="form-select mb-2">
                <option value="sw">English → Swahili</option>
                <option value="en">Swahili → English</option>
            </select>
            <input type="submit" value="Translate" class="btn btn-primary mb-4">
        </form>
        <div class="card mx-3 p-2">
            <div id="result" class="card-body"></div>
        </div>
        
    </div>

    <script>
        const form = document.getElementById('translator-form');
        const resultDiv = document.getElementById('result');
        

        form.addEventListener('submit', async function(e) {
            e.preventDefault();

            const word = document.getElementById('word-input').value;
            const language = document.getElementById('language').value
            document.getElementById("translator-form").addEventListener("submit", function(e) {
                e.preventDefault();
            })
            const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

            const response = await fetch('/api/v1/translate-text', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken,
                },
                body: JSON.stringify({
                    text: word, 
                    targetLanguage: language
                })
            });

            const data = await response.json();

            if (data.translatedText) {
            resultDiv.textContent = `${data.translatedText}`;
            } else {
            resultDiv.textContent = word
            }
        });
    </script>
</body>
</html> 